<header></header>

<div>
    <form name="chatForm">
        <div class="row">
            <div class="col-sm-11 col-lg-11 col-md-11 col-xs-11">
                <input type="text" class="text1" placeholder="Enter Your Message..." ng-model="residentchat.message" required>
            </div>
            <div class="col-sm-1 col-lg-1 col-md-1 col-xs-1">
                <div class="send-icon">
                    <button type="submit" ng-click="send()" ng-disabled="chatForm.$invalid"><i class="fa fa-play-circle" aria-hidden="true" ></i></button>
                </div>
            </div>
        </div>
    </form>
</div>

<script >
 
</script>